* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  background-color: #000000;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-right: 224px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

a:hover {
  color: #ba0cc5;
}

nav .line {
  height: 40px;
  background-color: white;
  width: 1px;
}

.logo img {
  height: 32px;
  width: 93px;
}

button {
  width: fit-content;
  padding: 9px 22px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  border-radius: 11px;
  border: 1px solid #ba0cc5;
  background-color: #ba0cc5;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.hero h1 {
  font-size: 4.7rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
}

.hero p {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 60px;
}

.hero button {
  font-size: 2rem;
  font-weight: 700;
  padding: 19px 45px;
}

button:hover {
  background-color: #fff;
  color: #ba0cc5;
  border: 1px solid #ba0cc5;
}
